
<% sorted = @history.sort_by {|round| round[:round_id]}.reverse  #most recent first %>

<% sorted.each do |round| %>
<div class="row">
	<div class="columns small-12 panel">
		
	<% if round[:result].nil? %>
		<p>ROUND: <%= round[:round_id] %></p>
		<% if round[:your_move].nil? %>
			<p>YOUR MOVE: WAITING FOR YOUR MOVE</p>
		<% else %>
			<p>YOUR MOVE: <%= round[:your_move] %></p>
		<% end %>
		<% if round[:their_move].nil? %>		
			<p>YOUR OPPONENT'S MOVE: WAITING FOR YOUR OPPONENT TO PLAY</p>
		<% else %>
			<p>YOUR OPPONENT'S MOVE: WAITING FOR YOUR MOVE</p>
		<% end %>
	<% else %>
		<p>ROUND: <%= round[:round_id] %></p>
		<p>YOUR MOVE: <%= round[:your_move] %></p>
		<p>YOUR OPPONENT'S MOVE: <%= round[:their_move] %></p>
		<p>RESULT: <%= round[:result] %></p>
	<% end %>
	</div>
</div>

<% end %>
<br>