<br>
<div class="row">
	<% if @match_info.empty? %>
		<br>	
		<h4 class="columns small-10 small-centered">You don't have any games started yet! <a href="/players">Challenge</a> another player to a match.</h4>
	<% end %>
	<!-- FIRST: List current games... -->
	<% @match_info.each do |match| %>
		<% if match[:completed] == false && match[:already_played] == false %>
	    <div class="row">
		<div class="columns large-12 panel">
			<div class="row">
			<div class="small-10 small-centered columns">
	    	<form  method = "get" action="/play/<%= match[:match_id] %>/<%= match[:current_round] %>">
	    		<div class="row">
					<img  class= "columns small-3" src="<%= match[:opponent_profile_pic]%>" alt="">
					<h5 class="columns small-9">OPPONENT: <%= match[:opponent_name] %></h5>
				</div>
				<br>
				<div class="row">
				<div class="columns small-12">
				<ul class="small-block-grid-3">
					<li class="panel callout">WINS: <%= match[:current_wins] %> </li>
					<li class="panel callout">LOSSES: <%= match[:current_losses] %> </li>
					<li class="panel callout">TIES: <%= match[:current_ties] %> </li>
				</ul>
				</div>
				</div>
				<div class="columns">
					<input type="submit" class="button success expand left" value = "PLAY THIS MATCH!">
				</div>
			</form>
				<div class="columns right">
					<a href="/view/<%= match[:match_id]%>"><button class="expand">VIEW MATCH HISTORY</button></a>
				</div>
			</div>
			</div>
		</div>
		</div>
		<% end %>
	<% end %>

	<!-- SECOND LIST WAITING GAMES -->
	<% @match_info.each do |match| %>
		<% if match[:completed] == false && match[:already_played] == true %>
		<div class="row">
		<div class="columns small-12 panel">
			<div class="row">
				<div class="small-10 small-centered columns">
					<img  class= "columns small-3" src="<%= match[:opponent_profile_pic]%>" alt="">
					<p class = "small-9 columns">OPPONENT: <%= match[:opponent_name] %><br><em>You've already played this round.  Waiting for your opponent!</em></p>
				</div>
			</div>

			<div class="row">
				<div class="columns small-10 small-centered">
				<ul class="small-block-grid-3">
					<li class="panel callout">WINS: <%= match[:current_wins] %> </li>
					<li class="panel callout">LOSSES: <%= match[:current_losses] %> </li>
					<li class="panel callout">TIES: <%= match[:current_ties] %> </li>
				</ul>
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-centered">
					<a href="/view/<%= match[:match_id]%>"><button class="expand">VIEW MATCH HISTORY</button></a>
				</div>
			</div>
		</div>
		</div>
		<% end %>
	<% end %>
		
	<!-- THIRD LIST COMPLETED GAMES -->
	<% @match_info.each do |match| %>
		<% if match[:completed] == true %>
		<div class="row">
		<div class="columns large-12 panel">
			<div class="row">
			<div class = "columns small-10 small-centered">
				<img  class= "columns small-3" src="<%= match[:opponent_profile_pic]%>" alt="">
				<p class = "columns small-9">OPPONENT: <%= match[:opponent_name] %><br>

			<% if match[:current_wins] >= 3 %>
			<em>GAME OVER! YOU WON!</em>
			<% elsif match[:current_wins] <= 3 %>
			<em>GAME OVER! YOU LOST!</em></p>
			<% end %></p>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="columns small-10 small-centered">
				<ul class="small-block-grid-3">
					<li class="panel callout">WINS: <%= match[:current_wins] %> </li>
					<li class="panel callout">LOSSES: <%= match[:current_losses] %> </li>
					<li class="panel callout">TIES: <%= match[:current_ties] %> </li>
				</ul>
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-centered">
					<a href="/view/<%= match[:match_id]%>"><button class="expand">VIEW MATCH HISTORY</button></a>
				</div>
			</div>			
		</div>
		</div>
		<% end %>
	<% end %>
</div>