<div class="row">
	<div class="columns large-12">
		<div class="row">
			<br>
		<form class="columns large-6" method="post" action="/play/<%= @game_info[:match_id] %>/<%= @game_info[:round_id] %>/r">
			<h1><input type="submit" value="ROCK" class="button success expand"></h1>
		</form>
		<form class="columns large-6" method="post" action="/play/<%= @game_info[:match_id] %>/<%= @game_info[:round_id] %>/p">
			<h1><input type="submit" value="PAPER" class="button success expand"></h1>
		</form>
		<form class="columns large-6" method="post" action="/play/<%= @game_info[:match_id] %>/<%= @game_info[:round_id] %>/s">
			<h1><input type="submit" value="SCISSORS" class="button success expand"></h1>
		</form>		
		<form class="columns large-6" method="post" action="/play/<%= @game_info[:match_id] %>/<%= @game_info[:round_id] %>/x">
			<h1><input type="submit" value="???" class="button success expand"></h1>
		</form>		
		</div>
	</div>
</div>
<div class="row">
	<img class = "columns small-3" src="<%= @opponent[:profile_pic]%>" alt="">
	<h4 class="columns small-9">Opponent: <%= @opponent[:name] %> </h4>
</div>
<br>
<%= erb :_matchhistory %>
